In [1]:
#Import libary yang dibutukan
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler

In [2]:
#Membaca dataset dari file
df = pd.read_csv("D:/dataset_sebelum_preprocessing.csv")
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 600 entries, 0 to 599
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Account              594 non-null    object
 1   Matches              600 non-null    int64
 2   KDA                  600 non-null    float64
 3   Teamfight            600 non-null    float64
 4   Gold/Min             600 non-null    int64
 5   Damage to Hero/Min   600 non-null    int64
 6   Deaths/Match         600 non-null    float64
 7   Turret Damage/Match  600 non-null    int64
 8   Favorite             600 non-null    object
dtypes: float64(3), int64(4), object(2)
memory usage: 42.3+ KB

,Matches,KDA,Teamfight,Gold/Min,Damage to Hero/Min,Deaths/Match,Turret Damage/Match
count,600.000000,600.000000,600.000000,600.000000,600.000000,600.000000,600.000000
mean,8416.046667,4.205050,0.555533,604.581667,3161.686667,3.309467,3915.493333
std,4142.718707,0.882876,0.041173,94.636463,811.873477,0.605789,1598.010972
min,765.000000,2.190000,0.420000,387.000000,1403.000000,1.670000,764.000000
25%,5095.500000,3.550000,0.530000,537.000000,2558.000000,2.920000,2691.500000
50%,8159.000000,4.130000,0.560000,595.000000,3095.500000,3.300000,3687.500000
75%,11117.750000,4.770000,0.580000,664.250000,3666.000000,3.700000,4921.750000
max,25061.000000,7.560000,0.680000,939.000000,9292.000000,5.400000,10973.000000

In [3]:
#Preprocessing Data
#1. Pembersihan Data
df.isnull().sum()

Account                6
Matches                0
KDA                    0
Teamfight              0
Gold/Min               0
Damage to Hero/Min     0
Deaths/Match           0
Turret Damage/Match    0
Favorite               0
dtype: int64

In [4]:
df1 = df.dropna()
df1

,Account,Matches,KDA,Teamfight,Gold/Min,Damage to Hero/Min,Deaths/Match,Turret Damage/Match,Favorite
0,Killerfrost,11649,3.92,0.53,553,2559,3.55,2622,Tank
1,Hellsing,4732,3.46,0.56,601,2512,3.96,1841,Tank
2,Limitretina,16317,4.93,0.55,477,2238,2.38,2258,Fighter
3,Janetzy,6644,3.55,0.54,537,2481,3.82,2121,Support
4,Evo,12649,4.87,0.56,501,2390,2.91,2255,Fighter
...,...,...,...,...,...,...,...,...,...
595,Tomorrow,8419,4.48,0.57,737,3844,3.10,5507,Assassin
596,Catchmeifyoucan,10119,4.63,0.53,588,3089,2.50,3385,Fighter
597,Altamiz,6858,6.73,0.65,794,4839,2.22,4551,Mage
598,Ash,7780,5.84,0.68,755,4833,2.96,4018,Assassin
599,Hadess,3602,5.41,0.60,823,4617,2.61,6249,Assassin

In [5]:
df1.duplicated().sum()

28

In [6]:
df1.loc[df1.duplicated(), :]

,Account,Matches,KDA,Teamfight,Gold/Min,Damage to Hero/Min,Deaths/Match,Turret Damage/Match,Favorite
20,Devulil,10516,4.10,0.56,583,2883,3.30,3812,Tank
32,Hellsing,4732,3.46,0.56,601,2512,3.96,1841,Tank
82,Sykerzn,12668,3.89,0.56,432,2105,3.58,3414,Fighter
84,Killerfrost,11649,3.92,0.53,553,2559,3.55,2622,Tank
128,Vanss,14199,5.60,0.57,608,3140,2.22,6324,Marksman
130,Kiara,6666,5.49,0.60,782,4371,2.65,7213,Marksman
162,Funipunyaaaa,18327,5.26,0.57,494,2389,2.44,3032,Fighter
166,Btkmobazane,8159,6.71,0.63,685,4442,2.09,6138,Marksman
173,Ap,10660,5.21,0.59,720,4103,2.93,6419,Marksman
182,Branz,13591,5.82,0.62,664,3873,2.51,6047,Assassin
187,Watt,10603,5.28,0.58,631,3525,2.55,6365,Assassin
193,Inferno,11339,4.30,0.54,686,3693,3.05,6975,Marksman
194,Funipunyaaaa,18327,5.26,0.57,494,2389,2.44,3032,Fighter
198,Btkmobazane,8159,6.71,0.63,685,4442,2.09,6138,Marksman
340,R7tatsumaki,7921,4.75,0.53,735,3576,2.73,5045,Assassin
353,Btkcarti,11901,5.05,0.54,495,2486,2.28,4226,Fighter
366,Wathefakbravo,12785,3.47,0.52,598,3145,3.53,5455,Mage
378,Ares,9964,3.18,0.48,634,2607,3.72,4135,Fighter
379,Rheaonlymyloves,10789,4.30,0.53,661,3170,2.83,6229,Assassin
474,Key,9582,4.77,0.61,679,4240,3.34,3856,Assassin
485,Kitkat,9036,3.71,0.55,573,3051,3.69,3956,Assassin
551,Funipunyaaaa,18327,5.26,0.57,494,2389,2.44,3032,Fighter
564,Bottle,8285,4.46,0.57,650,3838,3.37,3644,Assassin
581,Devubaiyi,7960,4.49,0.55,643,3403,2.66,3717,Assassin
584,Anakintrovert,12098,4.21,0.52,479,2611,2.92,2569,Assassin
586,Tetsuya,10576,4.89,0.58,698,3931,2.91,4426,Fighter
592,Decimo,3414,5.90,0.55,939,4280,2.10,5637,Assassin
598,Ash,7780,5.84,0.68,755,4833,2.96,4018,Assassin

In [7]:
df2 = df1.drop_duplicates(subset=['Account'])
df2

,Account,Matches,KDA,Teamfight,Gold/Min,Damage to Hero/Min,Deaths/Match,Turret Damage/Match,Favorite
0,Killerfrost,11649,3.92,0.53,553,2559,3.55,2622,Tank
1,Hellsing,4732,3.46,0.56,601,2512,3.96,1841,Tank
2,Limitretina,16317,4.93,0.55,477,2238,2.38,2258,Fighter
3,Janetzy,6644,3.55,0.54,537,2481,3.82,2121,Support
4,Evo,12649,4.87,0.56,501,2390,2.91,2255,Fighter
...,...,...,...,...,...,...,...,...,...
594,Kantunan,6305,3.98,0.56,703,3805,3.67,5100,Marksman
595,Tomorrow,8419,4.48,0.57,737,3844,3.10,5507,Assassin
596,Catchmeifyoucan,10119,4.63,0.53,588,3089,2.50,3385,Fighter
597,Altamiz,6858,6.73,0.65,794,4839,2.22,4551,Mage
599,Hadess,3602,5.41,0.60,823,4617,2.61,6249,Assassin

In [8]:
#2. Seleksi Data
df3 = df2.drop(["Matches"], axis = 1)
df3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 566 entries, 0 to 599
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Account              566 non-null    object
 1   KDA                  566 non-null    float64
 2   Teamfight            566 non-null    float64
 3   Gold/Min             566 non-null    int64
 4   Damage to Hero/Min   566 non-null    int64
 5   Deaths/Match         566 non-null    float64
 6   Turret Damage/Match  566 non-null    int64
 7   Favorite             566 non-null    object
dtypes: float64(3), int64(3), object(2)
memory usage: 39.8+ KB

In [9]:
#3. Transformasi Data
df3["Favorite"].value_counts()

Assassin    173
Fighter     108
Tank         79
Marksman     79
Mage         68
Support      59
Name: Favorite, dtype: int64

In [10]:
transform_data = {"Favorite": {"Tank": 1, "Fighter": 2, "Assassin": 3, "Mage": 4,
                                  "Marksman": 5, "Support": 6}}
df3.replace(transform_data, inplace=True)
df3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 566 entries, 0 to 599
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Account              566 non-null    object
 1   KDA                  566 non-null    float64
 2   Teamfight            566 non-null    float64
 3   Gold/Min             566 non-null    int64
 4   Damage to Hero/Min   566 non-null    int64
 5   Deaths/Match         566 non-null    float64
 6   Turret Damage/Match  566 non-null    int64
 7   Favorite             566 non-null    int64
dtypes: float64(3), int64(4), object(1)
memory usage: 39.8+ KB

In [11]:
print(df3["Favorite"].value_counts())
df3

3    173
2    108
5     79
1     79
4     68
6     59
Name: Favorite, dtype: int64

,Account,KDA,Teamfight,Gold/Min,Damage to Hero/Min,Deaths/Match,Turret Damage/Match,Favorite
0,Killerfrost,3.92,0.53,553,2559,3.55,2622,1
1,Hellsing,3.46,0.56,601,2512,3.96,1841,1
2,Limitretina,4.93,0.55,477,2238,2.38,2258,2
3,Janetzy,3.55,0.54,537,2481,3.82,2121,6
4,Evo,4.87,0.56,501,2390,2.91,2255,2
...,...,...,...,...,...,...,...,...
594,Kantunan,3.98,0.56,703,3805,3.67,5100,5
595,Tomorrow,4.48,0.57,737,3844,3.10,5507,3
596,Catchmeifyoucan,4.63,0.53,588,3089,2.50,3385,2
597,Altamiz,6.73,0.65,794,4839,2.22,4551,4
599,Hadess,5.41,0.60,823,4617,2.61,6249,3

In [12]:
#4. Normalisasi Data
df4 = df3.iloc[:, 1:8]
df_array = np.array(df4)
df_array

array([[3.920e+00, 5.300e-01, 5.530e+02, ..., 3.550e+00, 2.622e+03,
        1.000e+00],
       [3.460e+00, 5.600e-01, 6.010e+02, ..., 3.960e+00, 1.841e+03,
        1.000e+00],
       [4.930e+00, 5.500e-01, 4.770e+02, ..., 2.380e+00, 2.258e+03,
        2.000e+00],
       ...,
       [4.630e+00, 5.300e-01, 5.880e+02, ..., 2.500e+00, 3.385e+03,
        2.000e+00],
       [6.730e+00, 6.500e-01, 7.940e+02, ..., 2.220e+00, 4.551e+03,
        4.000e+00],
       [5.410e+00, 6.000e-01, 8.230e+02, ..., 2.610e+00, 6.249e+03,
        3.000e+00]])

In [13]:
scaler = MinMaxScaler()
df_scaled = scaler.fit_transform(df_array)
np.set_printoptions(precision=2)
df_scaled

array([[0.32, 0.42, 0.3 , ..., 0.5 , 0.18, 0.  ],
       [0.24, 0.54, 0.39, ..., 0.61, 0.11, 0.  ],
       [0.51, 0.5 , 0.16, ..., 0.19, 0.15, 0.2 ],
       ...,
       [0.45, 0.42, 0.36, ..., 0.22, 0.26, 0.2 ],
       [0.85, 0.88, 0.74, ..., 0.15, 0.37, 0.6 ],
       [0.6 , 0.69, 0.79, ..., 0.25, 0.54, 0.4 ]])

In [14]:
pd.set_option('precision', 2)
df5 = pd.DataFrame(df_scaled, columns=['kda','teamfight','gold/min','damagetohero/min',
                                      'death/match','turretdamage/match','favorite'])
df5

,kda,teamfight,gold/min,damagetohero/min,death/match,turretdamage/match,favorite
0,0.32,0.42,0.30,0.15,0.50,0.18,0.0
1,0.24,0.54,0.39,0.14,0.61,0.11,0.0
2,0.51,0.50,0.16,0.11,0.19,0.15,0.2
3,0.25,0.46,0.27,0.14,0.58,0.13,1.0
4,0.50,0.54,0.21,0.13,0.33,0.15,0.2
...,...,...,...,...,...,...,...
561,0.33,0.54,0.57,0.30,0.54,0.42,0.8
562,0.43,0.58,0.63,0.31,0.38,0.46,0.4
563,0.45,0.42,0.36,0.21,0.22,0.26,0.2
564,0.85,0.88,0.74,0.44,0.15,0.37,0.6
565,0.60,0.69,0.79,0.41,0.25,0.54,0.4

In [16]:
column_account = df3.drop(['KDA','Teamfight','Gold/Min','Damage to Hero/Min','Deaths/Match','Turret Damage/Match','Favorite'], axis=1)
column_array = np.array(column_account)
df6 = pd.DataFrame(column_array, columns=['account'])
df6

             account
0        Killerfrost
1           Hellsing
2        Limitretina
3            Janetzy
4                Evo
..               ...
561         Kantunan
562         Tomorrow
563  Catchmeifyoucan
564          Altamiz
565           Hadess

[566 rows x 1 columns]

In [17]:
dataset = df6.join(df5)
dataset

,account,kda,teamfight,gold/min,damagetohero/min,death/match,turretdamage/match,favorite
0,Killerfrost,0.32,0.42,0.30,0.15,0.50,0.18,0.0
1,Hellsing,0.24,0.54,0.39,0.14,0.61,0.11,0.0
2,Limitretina,0.51,0.50,0.16,0.11,0.19,0.15,0.2
3,Janetzy,0.25,0.46,0.27,0.14,0.58,0.13,1.0
4,Evo,0.50,0.54,0.21,0.13,0.33,0.15,0.2
...,...,...,...,...,...,...,...,...
561,Kantunan,0.33,0.54,0.57,0.30,0.54,0.42,0.8
562,Tomorrow,0.43,0.58,0.63,0.31,0.38,0.46,0.4
563,Catchmeifyoucan,0.45,0.42,0.36,0.21,0.22,0.26,0.2
564,Altamiz,0.85,0.88,0.74,0.44,0.15,0.37,0.6
565,Hadess,0.60,0.69,0.79,0.41,0.25,0.54,0.4

In [18]:
dataset.to_csv('D:/dataset_setelah_preprocessing.csv')

In [19]:
dataset.isnull().sum()

account               0
kda                   0
teamfight             0
gold/min              0
damagetohero/min      0
death/match           0
turretdamage/match    0
favorite              0
dtype: int64

In [20]:
dataset.duplicated().sum()

0

In [21]:
dataset.describe()

,kda,teamfight,gold/min,damagetohero/min,death/match,turretdamage/match,favorite
count,566.00,566.00,566.00,566.00,566.00,566.00,566.00
mean,0.37,0.52,0.39,0.22,0.45,0.30,0.45
std,0.16,0.16,0.17,0.10,0.16,0.16,0.30
min,0.00,0.00,0.00,0.00,0.00,0.00,0.00
25%,0.25,0.42,0.27,0.14,0.34,0.19,0.20
50%,0.36,0.50,0.37,0.21,0.44,0.28,0.40
75%,0.47,0.62,0.50,0.28,0.55,0.40,0.60
max,1.00,1.00,1.00,1.00,1.00,1.00,1.00

In [22]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 566 entries, 0 to 565
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   account             566 non-null    object
 1   kda                 566 non-null    float64
 2   teamfight           566 non-null    float64
 3   gold/min            566 non-null    float64
 4   damagetohero/min    566 non-null    float64
 5   death/match         566 non-null    float64
 6   turretdamage/match  566 non-null    float64
 7   favorite            566 non-null    float64
dtypes: float64(7), object(1)
memory usage: 35.5+ KB